name: Latest Blog Posts
on:
  schedule:
    # Runs every 6 hours
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update README with Latest Blog Posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://medium.com/feed/@devzkafnd,https://dev.to/feed/devzkafnd"
          max_post_count: "5"
          comment_tag_name: "BLOG-POST-LIST"
          feed_title: "Latest Blog Posts"

